services:
  mysql:
    image: mysql:8
    container_name: mysql_culture
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: culture_formation
      MYSQL_USER: cultureFormationTest
      MYSQL_PASSWORD: "test123Culture!"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: laravel_api
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    volumes:
      - ./backend:/var/www/html
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: culture_formation
      DB_USERNAME: cultureFormationTest
      DB_PASSWORD: "test123Culture!"

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin_culture
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: react_front
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  mysql_data:
